# Node
node_modules
dist
release

# Misc
*.log
.DS_Store
.env
.env.local
.vscode/
.idea/
*.swp
*.swo
*~
.cache/
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.acropad_config.json

# Flutter
advanced/build/
advanced/.dart_tool/
advanced/.flutter-plugins
advanced/.flutter-plugins-dependencies
advanced/.pub-cache/
advanced/.packages
advanced/pubspec.lock

# Rust
advanced/native/target/