# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
dist/
*.spec

# Logs
*.log

# IDEs
.vscode/
.idea/

# Local Dev / Logs
debug.txt
launch_error*.txt
FINAL-SUMMARY.txt
*.log

# Dependencies (recursive)
**/node_modules/
**/bower_components/

# System
.DS_Store
Thumbs.db
.gemini/

# User Content
notes/Untitled*.md
